<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS</title>
</head>
<body>
    <h1>Bem-vindo ao servidor expresssJS</h1>

    <hr>
    <p>Página Inicial</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis libero eaque illum, iste dolores earum? Unde exercitationem, delectus sint incidunt error, officia sed reiciendis laboriosam, facere maxime quisquam blanditiis veritatis?</p>

    <ul>
        <% for(banda of bandas) {%>
        <li><%= banda %></li>
        <% }%>
    </ul>



    <p><a href="/"></a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a></p>
</body>
</html>